.container {
    color: blue;
}

#parkingCanvas {
  position: absolute;
}
#configureContainer {
  padding: 0px;

}

#canvas {
  overflow : auto
}

.hiddenConfigure {
  display: none;
}

.showConfigure {
  display: flex;
}
